/.idea/workspace.xml
.idea/workspace.xml
/.idea/libraries/dependencies.xml
/.idea/libraries/libs.xml
/.idea/libraries/libs_sources.xml
/lib/json-simple-1.1.jar
/mongo/bin/bsondump.exe
/mongo/bin/InstallCompass.ps1
/mongo/bin/libeay32.dll
/mongo/bin/mongo.exe
/mongo/bin/mongod.cfg
/mongo/bin/mongod.exe
/mongo/bin/mongod.pdb
/mongo/bin/mongodump.exe
/mongo/bin/mongoexport.exe
/mongo/bin/mongofiles.exe
/mongo/bin/mongoimport.exe
/mongo/bin/mongorestore.exe
/mongo/bin/mongos.exe
/mongo/bin/mongos.pdb
/mongo/bin/mongostat.exe
/mongo/bin/mongotop.exe
/mongo/bin/ssleay32.dll
/out/production/shopalWeb/main/java/api/Controller.class
/web/META-INF/MANIFEST.MF
/shopalData/data/db/*
/out/artifacts/shopal/shopal.war
out/*
